# exercism common
.exercism
.solution.json

# bash track

# c track
*.out
*.out.dSYM

# c++ track

# c# strack
.editorconfig
.vscode
bin
obj


# f# track

# java track
.classpath
.gradle
.project
bin
build
org.eclipse.buildship.core.prefs

# javascript track
node_modules
package-lock.json
